/* Reiniciar estilos generales */
* {
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#logo {
    padding: 10px;
    width: 150px;
    height: 150px;
}

.icono {
    padding: 10px;
    width: 40px;
    height: 40px;
}

/* Estilos main */
main {
    background-color: darkgray;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: block;
    align-content: center;
}

.container:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.10);
}

/* Estilos del footer */
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: rgb(80, 0, 120);
    padding: 10px;
}