/* Reiniciar estilos generales */
* {
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#logo {
    padding: 10px;
    width: 150px;
    height: 150px;
}

.icono {
    padding: 10px;
    width: 40px;
    height: 40px;
}

/* Estilos main */
main {
    background-color: darkgray;
}

#products img {
    width: 300px;
    height: 300px;
}

/* Estilos botón Back */
#back {
    position: fixed;
    top: 200px;
    /* Ajusta según la altura del header */
    left: 30px;
    z-index: 9999;

    width: 32px;
    height: 32px;
}

#back img {
    width: 100%;
    height: 100%;
}

/* Estilos Spotify */
#spotify {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1000;
}

#overlay {
    position: fixed;
    right: 120px;
    /* separación respecto a la imagen */
    bottom: 20px;
    width: 500px;
    /* tamaño del cuadro */
    height: 250px;
    background: white;
    border-radius: 10px;
    display: none;
    /* oculto al inicio */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilos del footer */
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: rgb(80, 0, 120);
    padding: 10px;
}